.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #e74c3c;
  height: 75px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

.App-title {
  font-size: 2em;
  vertical-align: middle;
}

.Linkedin{

  width: 50px;
  align-self: flex-start;

}

.Header-Right{


}

.Header-Left{
  flex-grow: 1;
  flex-basis: 0;
}

.Linkedin:hover{
  opacity: 0.8;
}

.SiteBody{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.Body-Left{
  background: #bdc3c7;
  flex-grow: 1;
  flex-basis: 0;
}
.Body-Right{
  flex-grow: 1;
  flex-basis: 0;
}

.Project-Section{
  text-align: left;
  padding: 20px;
  background: #95a5a6;
}

.Project-Comp{
  padding:10px;
  margin: 10px;
  background: #2980b9;
}

.Project-Contents{
  display: flex;
  align-items: center;

}

.Project-Image{
  width: 100px;

  margin:20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
